#show-contact {
  display:none;
}
.contact {
  cursor: pointer;
  color: #0088cc;
}
.contact:hover {
  text-decoration: underline;
}
body {
  background-color: lightgray;
}
h1 {
  text-align: center;
}
